* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

#topnav {
    display: grid;
    grid-template-columns: 4fr 28fr 4fr;
    z-index: 2;
    overflow: hidden;
    background-color: white;
    border-bottom: solid;
    border-color:rgba(0, 0, 0, 0.05);
    border-width: 2px;
}

#topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#topnav a:hover {
    color: black;
}

#topnav a.active {
    color: black;
    font-size: 20px;
}

.grow {
    transition: opacity 0.25s, font-size 0.25s;
}

.grow:Hover {
    opacity: 0.5;
    font-size: 110%;
}

.container3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search_bar {
    width: 100%;
    max-width: 700px;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    justify-content: center;
}

.Search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
    color: #5d5d5d;
}

::placeholder {
    color: grey;
}

.Search_bar button img{
    width: 20px;
}

.Search_bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #5d5d5d;
    cursor: pointer;
}

/* Body of website */

.content {
    padding: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.pic {
    width: 30%;
}

/* Cards of Info */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    margin: 30px;
    border-radius: 15px;
    transition: transform ease-in-out 0.5s, box-shadow 0.5s, background-color 0.5s, color 0.5s;
    border-color: rgba(0, 0, 0, 0.05);
    border-width: 2px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
    background-color: black;
    color: white;
}

.card:hover label {
    color: black;
    background-color: white;
}

.card-image {
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url(./images/mental1.jpg);
}

.car-2 {
    background-image: url(./images/mental2.jpg);
}

.car-3 {
    background-image: url(./images/mental3.jpg);
}

.card h2 {
    padding: 5px;
    text-align: center;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px; 
    text-decoration: none;
}

.label {
    background-color: black;
    opacity: 1;
    color: white;
    width: 300px;
    height: 50px;
    padding-top: 15px;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 50px; 
    cursor: pointer;
    transition: opacity 0.15s, transform 0.15s, color 0.5s, background-color 0.5s;
}

.label:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

#ch {
    display: none;
}

#ch:checked ~ .content_two {
    display: block;
}

#ch:checked ~ .label {
    display: none;
}

.content_two {
    display: none;
}





.label1 {
    background-color: black;
    opacity: 1;
    color: white;
    width: 300px;
    height: 50px;
    padding-top: 15px;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 50px; 
    cursor: pointer;
    transition: opacity 0.15s, transform 0.15s, color 0.5s, background-color 0.5s;
}

.label1:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

#ch1 {
    display: none;
}

#ch1:checked ~ .content_two1 {
    display: block;
}

#ch1:checked ~ .label1 {
    display: none;
}

.content_two1 {
    display: none;
}



















.label12 {
    background-color: black;
    opacity: 1;
    color: white;
    width: 300px;
    height: 50px;
    padding-top: 15px;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 50px; 
    cursor: pointer;
    transition: opacity 0.15s, transform 0.15s, color 0.5s, background-color 0.5s;
}

.label12:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

#ch12 {
    display: none;
}

#ch12:checked ~ .content_two12 {
    display: block;
}

#ch12:checked ~ .label12 {
    display: none;
}

.content_two12 {
    display: none;
}

/* The hover underline effect */

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 
h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
} */
  
h1 {
    /* position: relative; */
    font-size: 100px;
    margin-top: 30px;
}


